.div {
  display: flex;
  justify-content: center;
  text-align: center;
}

.div p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 480px;
  height: 40px;
  color: white;
  font-size: 17px;
  font-weight: 500;
  background-color: rgb(49, 37, 128);
}
